@import "common";
@import "components/about-us/header-about-us";
@import "components/about-us/intro";
@import "components/about-us/bg-picture";
@import "components/about-us/ending";
@import "components/about-us/achievements";



//@import "components/demo-homepage";
@import "components/banner";
@import "components/menu-scroll";
@import "components/our-services";
@import "components/carousel-team";
@import "components/company";
@import "components/articles";

@import "components/footer";
