.articles {
  @media (max-width: 767px) and (min-width: 576px) {
    .container {
      max-width: 576px;
    }
    &__wrapper {
      flex-wrap: wrap;

      &-card {
        width: calc(100% / 2 - 15px);

        &:last-child {
          width: 100%;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    .container {
      max-width: 320px;
    }
    &__heading{
      &-title{
        font-size: $font-xl;
      }
    }
    &__wrapper {
      flex-wrap: wrap;

      &-card {
        width: 100%;
      }
    }
  }
}