.articles {
  @media (min-width: 1600px) {
    .container-lg {
      max-width: 1600px;
    }
  }


  @media (max-width: 992px) and (min-width: 576px) {
    &__wrapper {
          flex-wrap: wrap;
    }
  }
  @media (max-width: 576px) {
    &__heading{
      &-title{
        font-size: $font-xl;
      }
    }
    &__wrapper {
      flex-wrap: wrap;
      &-card {
        flex: 1 1 100%
      }
    }
  }
}