.articles {
  padding-top: 30px;
  background-color: $grey-bg;

  &__heading {
    @extend %section-link;

    &-link {
      margin-bottom: 10px;
    }

    &-title {
      @extend %red-gradient;
      margin-bottom: 30px;
      @extend %font-big;
    }
  }

  &__wrapper {
    gap: 30px;

    &-card {
      background: $white-color;
      border-radius: 8px;
      overflow: hidden;
      width: calc(100% / 3);

      img {
        height: 200px;
        width: 100%;
      }

      &-wrap {
        margin: 30px;

        &-title {
          @extend %font-sm;
          color: $active-regular;
        }

        &-data {
          font-weight: $font-bold;
          font-size: 12px;
          color: $grey-bg-text;
          letter-spacing: 1px;
        }

        &-line {
          margin: 15px 0;
          border: 2px solid;
          color: #E6E6F0;
          opacity: 1;
        }

        &-text {
          font-size: $font-s;
        }

      }
    }
  }
}