.our-service {
  padding: 30px 0 60px;

  &__description {
    padding-bottom: 22px;

    @extend %section-link;

    a {
      padding-bottom: 10px;
    }

    h3 {
      @extend %font-big;
      @extend %red-gradient;
    }
  }

  &__wrap {
    padding: 30px;
  }

  &__info-columns {

    img {
      margin-bottom: 30px;
    }

    a {
      @extend %section-link-hover;
      margin-bottom: 15px;
      font-size: $font-most-md;
    }


    p {
      font-size: 16px;
      color: $white-color;
      margin-bottom: 0;
    }
  }

}