.carousel-team {
  padding-top: 60px;

  .carousel-indicators{
   bottom: -80px;
    z-index: 1;

    & [data-bs-target]{
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $active-regular;
    }
  }
  .carousel-inner {
    background-color: #F5F5FA;
    border-radius: 12px;
  }

  &__caption {
    z-index: 1;
    margin-top: 30px;
    @include section-link;

    a {
      padding-bottom: 5px;
    }

    &-description {
      font-weight: $font-bold;
      font-size: $font-xxl;
      @include red-gradient;
      margin-bottom: 30px;
    }

    &-name {
      font-weight: $font-bold;
      font-size: $font-sm;
      color: $grey-bg-text;
    }

    &-post {
      font-size: $font-s;
    }
  }


  .carousel-item {
    opacity: 0;
    display: flex;

    &.active {
      transition: .5s;
      opacity: 1;
    }
  }


}