.carousel-team{
  @media (max-width: 767px) {
    .container {
      max-width: 576px;
    }
    .carousel-indicators{
      bottom: -50px;
    }
    &__caption-description {
      font-size: $font-lg;
      margin-bottom: 20px;
    }
    &__caption-name{
      margin-bottom: 10px;
    }
    &__caption-post{
      margin-bottom: 0;
    }
    &__wrapper .photo-team{
      width: 105%;
    }

    }
  @media (max-width: 576px) {
    .container {
      max-width: 320px;
    }
    &__wrapper .photo-team{
      width: 110%;
    }
  }
}