html{
  scroll-behavior: smooth;
 //плавная прокрутка без джаваскрипта
}
body {
  font-family: $main-font;
  font-size: $font-md;
  font-weight: $font-regular
}
.bg-gradient {
  position: relative;
  border-radius: 0 0 $default-border-radius $default-border-radius;

  &:before, &:after {
    content: "";
    display: block;
    border-radius: 0 0 $default-border-radius $default-border-radius;
    position: absolute;
    height: $gradient-shadow-height;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    bottom: -10px;
    background-color: #CACADB;
    width: calc(100% - 20px)
  }

  &:after {
    bottom: -20px;
    background-color: #E7E7F2;
    width: calc(100% - 40px)
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
.container-lg{
  --bs-gutter-x: 60px;
}


@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

