%red-gradient {
  background: $red-text-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
%font-s {
  font-weight: $font-bold;
  font-size: $font-s;
}
%font-sm {
  font-weight: $font-bold;
  font-size: $font-sm;
}
%font-xl {
  font-weight: $font-bold;
  font-size: $font-xl;
}
%font-xxl {
  font-weight: $font-bold;
  font-size: $font-xxl;
}
%font-big {
  font-weight: $font-bold;
  font-size: $font-big;
}


%section-link {
  a {
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: $font-s;
    font-weight: $font-bold;
    color: $active-hover-color;

    &:hover, &:focus-visible {
      color: $accent-color;
      transition: .5s;
      transform: scaleX(1.02) translate(15px);
    }

    svg {
      width: 20px;
    }

    &:hover path, &:hover svg, &:focus-visible path, &:focus-visible svg {
      stroke: $accent-color;
      transition: .5s;
      transform: translate(20%);
    }
  }
}

